* {
  padding: 0;
  margin: 0;
}

.form {
  width: 30rem;
  height: 20rem;
  border: 1px solid #ccc;
}
.formHeader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputStyling {
  width: 15rem;
  margin: 10px;
  height: 1rem;
  padding: 1rem;
  border-radius: 4px;
  font-size: 23px;
  border-color: #ccc;
}
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
