* {
  padding: 0%;
  margin: 0%;
}
.sideBarButton {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 20px;
  bottom: 10px;
}
.adds {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 20px;
}
.apiImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  border-radius: 50%;
  gap: 20px;
}
.emtyBoxInImg{
  width: 100%;
  display: flex;
  justify-content: center;
}
.apiImgfirstBoxes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 10.3px;
  /* padding: 2px; */
  width: 11rem;
  height: 13rem;
  box-shadow: 0.5px 1px 3px 0.5px #ccc;
  display: inline-block;
  /* border: 1px solid black; */
}
.AllItemsInBox{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(2,1fr);
}
.allProduceLineByLine {
  /* gap:2rem */
  margin:4px;
}
.AllItemsInBox {
  /* overflow: auto; */
  overflow-x: hidden; 
  overflow-y: scroll;
  height: 41rem;
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(1,1fr); */
}

.imgBox {
  display: flex;
}
.apiText {
  text-align: center;
}

/* responsive home recepy */




@media only screen and (max-width :1370px ){
  
  .AllItemsInBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .allProduceLineByLine {
    /* gap:2rem */
    margin:3px;
  }

}

@media only screen and (max-width :1150px ){
  
  .AllItemsInBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .allProduceLineByLine {
    /* gap:2rem */
    margin:2px;
  }
}
@media only screen and (max-width :1050px ){
  
  .AllItemsInBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
  }

  .allProduceLineByLine {
    /* gap:2rem */
    margin:2px;
  }








}
@media only screen and (max-width :750px ){
  
  .AllItemsInBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .allProduceLineByLine {
    /* gap:2rem */
    margin:2px;
  }
}
@media only screen and (max-width :600px ){
  
  .AllItemsInBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .allProduceLineByLine {
    /* gap:2rem */
    margin:2px;
  }
}
@media only screen and (max-width :400px ){
  
  .AllItemsInBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .allProduceLineByLine {
    /* gap:2rem */
    margin:2px;
  }
  .AllItemsInBox {
    /* overflow: auto; */
    overflow-x: hidden; 
    overflow-y: scroll;
    height: 40rem;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr); */
  }
  
}