* {
  padding: 0%;
  margin: 0%;
}
.mainIcon {
  position: relative;

  width: 5rem;
  border-right: 1px solid rgb(210, 207, 207);
  /* display: block; */
  /* background-color: rgb(116, 167, 167); */
  height: 42rem;
}
/* icon */
.logInIcon {
  position: absolute;
  bottom: 40px;
}
.anyIcon {
  color: rgb(128, 128, 128);
  cursor: pointer;
  font-size: 35px;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
}
.anyIcon:hover {
  outline: 3.5px solid orange;
  border-radius: 8px;
}
