* {
  padding: 0%;
  margin: 0%;
}
.topListItems {
  display: flex;
  padding-left: 10px;
  align-items: center;
  background-color: #f0f0f0;
  width: 34.6rem;
  height: 4rem;
}
.listItems {
  background-color: white;
}

.listItems ul {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 32.6rem;
  height: 2.5rem;
  border: 1px solid rgb(210, 207, 207);
  list-style-type: none;
  gap: 0.5rem;
  border-radius: 6px;
}
.listItems ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  background-color: white;
  border-radius: 5px;
}
.listItems ul li:hover {
  outline: 3px solid orange;
  border-radius: 8px;
}
