* {
  padding: 0%;
  margin: 0%;
}

.TopNavBarTag {
  display: flex;
  /* display: none; */
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 4rem;
  /* margin-bottom: 10px; */
  border-bottom: 1px solid rgb(210, 207, 207);
}
.HeadingAndInput {
  /* display: none; */
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border:hidden;
}

.searchInput {
  border: none; 
  width: 20rem;
  height: 2rem;
  border-radius: 15px;
  outline:none;
  padding-left: 10px;
  /* border: 1px solid rgb(210, 207, 207); */
}
.inputAndSerchBtn{
  /* color:white; */
  border :1px solid rgb(210, 207, 207);
  border-radius:30px ;
display:flex;
background-color: rgb(245, 15, 15);
cursor:pointer;
/* background-color: rgb(210, 207, 207);; */
}
.searchBtnBox{
  display: flex;
  justify-content: center;
  width:3rem;
  /* height:3rem */
}

.inputSearchBtn{
  color:white;
  font-size: xx-large;
  font-weight: 800;

}




.threeittems {
  /* margin-top:3px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableBtn {
  width: 9rem;
  height: 3rem;
  padding: 2px;
  margin: 17px;
  border-radius: 5px;
  background-color: rgb(255, 136, 0);
  border: 3.5px solid rgb(255, 136, 0);
  color: white;
  font-size: 19px;
  cursor:pointer;
}
@media only screen and (max-width: 1200px) {
  /* .threeittems, */
  .HeadingAndInput {
    gap: 4rem;
    /* display: none; */
  }
  .searchInput {
    width: 18;
  }
}
@media only screen and (max-width: 1000px) {
  .searchInput {
    width: 15rem;
  }
}
@media only screen and (max-width: 900px) {
.inputAndSerchBtn,
  .threeittems {
    display: none;
  }
}
/* @media only screen and (min-width: 800px) {
  .TopNavBarTag {
    display: none;
  }
} */
